@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    padding-top: 100px;
    padding-bottom: 230px;
    background-color: lightgray;
}

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 100px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile-row {
  text-align: left;
  padding-bottom: 100px;
}

.content {
  min-width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(236, 236, 236);
  text-align: center;
}

.form-heading {
    margin-top: -10px;
	  margin-bottom: 30px;
}
  
.form .input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 0 0 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.create-account-button {
  background: #4CAF50;
}

.login-form-button {
  background: #0275d8;
}

.add-friend-button {
  background: rgb(51, 151, 65);
  color: white;
}

.remove-friend-button {
  background: rgb(151, 51, 51);
  color: white;
}

.logout-form-button {
  background: #ff4242;
}

.contact-us-button {
  background: #ffa600;
}

.create-account-form button:hover,.create-account-form button:active,.create-account-form button:focus {
  background: #43A047;
}

.login-form button:hover,.login-form button:active,.login-form button:focus {
  background: #0064bb;
}

.contact-us-form button:hover,.contact-us-form button:active,.contact-us-form button:focus {
  background: #df9100;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: white;
}

.dark-mode .form {
  background: #494949;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.500), 0 5px 5px 0 rgba(0, 0, 0, 0.500);
}

.dark-mode .form-control {
  background: #adadad;
  color: white;
}

.dark-mode .form .input {
  background: #adadad;
  color: white;
}

.dark-mode textarea.form-control {
  background: #808080;
}

.dark-mode ::placeholder {
  color: rgb(228, 228, 228);
}

.dark-mode .content {
  background: #2e2e2e;
}

.dark-mode .search-bar {
  background: #adadad;
}

.list-group-item {
  background: #ffffff;
  color: black;
}

.dark-mode .list-group-item{
  background: #494949;
  color: white;
}

.dark-mode .friends-list .list-group-item {
  background: #494949;
  color: white;
}

.dark-mode .active-chats-list .list-group-item {
  background: #494949;
  color: white;
}

.friends-list .list-group-item {
  background: white;
  color: black;
  display: block;
  padding-bottom: 10px;
  padding: 16px;
}

.link-unstyled {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.link-unstyled:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.active-chats-list .list-group-item {
  background: white;
  color: black;
  display: block;
  padding-bottom: 10px;
  padding: 16px;
}

.form .list-group-item {
  background: white;
  color: black;
  display: block;
  padding-bottom: 10px;
  padding: 16px;
}

.chat {
  background: white;
  color: black;
  display: block;
  padding: 16px;
  outline: 1px solid rgb(223, 223, 223);
}

.dark-mode .chat {
  background: #494949;
  color: white;
  display: block;
  padding: 16px;
  outline: 1px solid #3a3a3a;
}

.list-group-item .profile-img {
   float:left;
}

.list-group-item .request-btn {
  float:right;
}

div .list-group-item .profile-username {
   float:left;
   padding-left: 10px;
   white-space: nowrap; 
   max-width: 155px;
   overflow: hidden;
   text-overflow: clip;
}

.main-profile-pic {
  width:100%;
  height:100%;
  object-fit: cover;
}

.main-image-cropper {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.profile-pic {
  width:100%;
  height:100%;
  object-fit: cover;
}

.image-cropper {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

input[type=file] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}